{% include "components/_header.html" %}

  <!-- make this header highlight the frontdesk selection -->
  {% include "components/_navbar.html" %}

    <div id="settings-content">

    </div>

    {% include "modals/newflag.html" %}
    {% include "components/_basescript.html" %}

    <!-- <script type="text/babel" src="/static/js/settings.js"></script> -->
    <script type="text/babel" src="/static/js/settings-react.js"></script>
    <script src="/static/js/modals/newflag.js"></script>
    <script src="/static/js/createnewactivity.js"></script>

    {% include "components/_footer.html" %}
